.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: #2477ab !important;
  text-decoration: none;
  border: 1px solid transparent;
  /* border-radius: 4px 4px 0 0; */
  padding: 10px 15px;
}
a:hover {
  color: #2477ab;
  text-decoration: none !important;
  background-color: rgb(238, 238, 238);
  padding: 10px 15px;
}
a.active {
  color: #2477ab;
  text-decoration: none;
  background-color: rgb(238, 238, 238);
  padding: 10px 15px;
  border: 1px solid rgb(55, 101, 201);
}
.header-wrapper,
.footer-wrapper {
  border-bottom: 1px solid #dbdbdb;
  height: auto;
  width: 100%;
  background: #f8f8f8;
  padding: 25px 0;
  text-align: center;
}
.tab-panel {
  padding: 25px 0;
}
nav {
  padding: 0 0 9px 0px;
  border-bottom: 1px solid #ddd;
}
